.flex{
    display: flex !important;
}

.flex-column{
    flex-direction: column !important;
}

.flex-justify-start{
    justify-content: flex-start !important;
}

.flex-justify-end{
    justify-content: flex-end !important;
}

.flex-justify-space-between{
    justify-content: space-between !important;
}

.flex-justify-around{
    justify-content: space-around !important;
}