@import "../../../../assets/scss/color";
@import "../../../../assets/scss/icons";

:host{
    .wrap{
        width: 56px;
        background-color: $color-white;
        height: 100%;
        border-right: 1px solid $color-grey;
        .icon-wrap{
            height: 30%;
            position: relative;
            top: 30%;
            .icon-toolbar{
                transform: scale(1.5);
            }
            .icon-toolbar:hover{
                background-color: $color-grey;
            }
        }
    }
}