<div class="wrap flex flex-justify-space-between flex-column">
    <div class="flex flex-justify-space-between flex-column align-center icon-wrap">
        <div class="ic-hover">
            <div class="ic-chat-16 icon-toolbar"></div>
        </div>
        <div class="ic-hover">
            <div class="ic-chat-16 icon-toolbar"></div>
        </div>
        <div class="ic-hover">
            <div class="ic-chat-16 icon-toolbar"></div>
        </div>
        <div class="ic-hover">
            <div class="ic-chat-16 icon-toolbar"></div>
        </div>
        <div class="ic-hover">
            <div class="ic-chat-16 icon-toolbar"></div>
        </div>
    </div>
</div>